<div class="container">
    <h1>
      Attendance Portal
    </h1>
    <img src=".\assets\images.jpg">
    <br>
    <br>
    <p>
      <button class="btn btn-success" routerLink="/login" type="button">Admin Login</button>&nbsp;&nbsp;
      <img src=".\assets\admin-login.jpg" routerLink="/login" >
    </p>
   
  <p> <button class="btn btn-success" routerLink="/employee-login" type="button">
    Employee Login</button>&nbsp;&nbsp;
    <img src=".\assets\Employee-login.png" routerLink="/employee-login" ></p>
  </div>
  
  